body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, sans-serif; */
  background-color: #FFFCF9;
  /* color: #333; */
}

.App {
  /* text-align: center; */
  /* padding: 20px; */
}

header {
  /* margin-bottom: 4px; */
  display: flex;
  text-align: center;
  top: 0;
  /* z-index: 100; */
  /* position: fixed; */
  width: 100%;
  max-width: 100%;
  color: white;
  background-color: #340068;
  border: 1px inset #4C5B5C;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
  margin-top: 0%;
  max-height: 25%;
  height: 25%
}

main {
  margin-top: 05%; /* Ajuste esse valor de acordo com a altura do seu cabeçalho */
  display: flex;
  justify-content: space-between;
}

.div-introduction {
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  max-width: 30%;
}

.div-about {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  max-width: 70%;
  
}

.div-contact {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  max-width: 70%;
  
}

.div-abilities {
  display: flex;
  flex-flow: row nowrap;
  width: 70%;
  max-width: 70%;
  justify-content: space-evenly;
}

.div-foto {
  width: 40%;
  height: 100%;
  max-width: 40%;
  max-height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
}

a {
  color: #36453B;
}

a:hover {
  color: #340068;
}

img {
  border-radius: 8px;
  width: 25%;
  height: 100%;
  max-width: 25%;
  max-height: 100%;
  margin-left: 5%;
}

.bem-vindo {
  margin-left: 2%;
}

.icon {
  height: 10%;
  width: 7%;
  margin-right: 3%
}

button {
  padding: 3% 6%;
  font-size: 100%;
  background-color: #b870da;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bot: 2%;
  margin-top: 1%;
  margin-left: 2%;
  transition: background-color 0.3s ease;
  max-width: 17rem
}

button:hover {
  background-color: #9c5fb6;
}

button:active {
  background-color: #1A2526;
}
  
.selected-button {
  background-color: #B1EDE8;
  color: black;
}

/* footer {
  margin-top: 40px;
  color: #888;
} */


