body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, sans-serif; */
  background-color: #FFFCF9;
  /* color: #333; */
}

.App {
  /* text-align: center; */
  /* padding: 20px; */
}

header {
  /* margin-bottom: 4px; */
  display: flex;
  text-align: center;
  top: 0;
  /* z-index: 100; */
  /* position: fixed; */
  width: 100%;
  max-width: 100%;
  color: white;
  background-color: #340068;
  border: 1px inset #4C5B5C;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.6);
  margin-top: 0%;
  max-height: 25%;
  height: 25%
}

main {
  margin-top: 05%; /* Ajuste esse valor de acordo com a altura do seu cabeçalho */
  display: flex;
  justify-content: space-between;
}

.div-introduction {
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  max-width: 30%;
}

.div-about {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  max-width: 70%;
  
}

.div-contact {
  display: flex;
  flex-flow: column nowrap;
  width: 70%;
  max-width: 70%;
  
}

.div-abilities {
  display: flex;
  flex-flow: row nowrap;
  width: 70%;
  max-width: 70%;
  justify-content: space-evenly;
}

.div-foto {
  width: 40%;
  height: 100%;
  max-width: 40%;
  max-height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
}

img {
  border-radius: 8px;
  width: 25%;
  height: 100%;
  max-width: 25%;
  max-height: 100%;
  margin-left: 5%;
}

.bem-vindo {
  margin-left: 2%;
}

.icon {
  height: 10%;
  width: 7%;
  margin-right: 3%;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: rotate(45deg);
}

button {
  padding: 3% 6%;
  font-size: 100%;
  background-color: #b870da;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bot: 2%;
  margin-top: 1%;
  margin-left: 2%;
  transition: background-color 0.3s ease;
  max-width: 17rem
}

button:hover {
  background-color: #9c5fb6;
}

button:active {
  background-color: #1A2526;
}
  
.selected-button {
  background-color: #B1EDE8;
  color: black;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-link {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
  transition: color 0.3s ease;
}

.contact-link a {
  color: #555;
  text-decoration: none;
}

.contact-link a:hover {
  color: #777;
  /* text-decoration: underline; */
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-text {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}


/* footer {
  margin-top: 40px;
  color: #888;
} */

@media (max-width: 768px) {
  header {
    /* Reduza o tamanho do cabeçalho */
    padding: 10px;
  }

  main {
    flex-direction: column; /* Empilhar elementos em vez de espaçá-los horizontalmente */
  }

  .div-introduction, .div-about, .div-abilities, .div-contact {
    width: 100%; /* Ocupar a largura total em telas menores */
    max-width: 100%;
  }

  .icon {
    height: auto; /* Evite distorção de ícones */
    width: 20px;
    margin-right: 5px;
    transition: transform 0.3s ease;
  }
  .icon:hover {
    transform: rotate(45deg);
  }
}


